html, :root {
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

body {
  max-width: 100vw;
  font-size: 1.6rem;
  min-height: 100vh;
  position: relative;
  background-color: #141B33;
  overflow-x: hidden !important;
}


 /* H E A D E R   S E C T I O N */
header.header {
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
  display: flex;
  max-width: 100vw;
  position: sticky;
  align-items: center;
  background-color: #eed3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
}

header .container {
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 0 !important;
  flex-direction: column;
  justify-content: space-between;
}

header .container .header__lhs {
  width: 30%;
  display: flex;
  align-items: center;
}

header .container .header__brand {
  display: flex;
  color: #cc3b3bf6;
  align-items: center;
}

header .container .header__brand img {
  width: 4.5rem;
  height: 4.5rem;
}

header .container .header__brand h3 {
  margin-top: 3px;
  font-size: 2.7rem;
  font-weight: bold;
  font-style: italic;
}

header .container .menu__container {
  top: 8px;
  right: 2px;
  cursor: pointer;
  position: absolute;
}

header .container .menu__container i {
  font-size: 3.2rem;
  color: #cc3b3bf6;
}

header .container .header__rhs {
  display: none;
  height: 4.2rem;
  flex-basis: 100%;
  position: relative;
  align-items: center;
  margin: 16px 0 10px 0;
}

header .container .header__rhs i {
  left: 12px;
  font-size: 2.2rem;
  position: absolute;
  color: #00000046;
}

header .container .header__rhs .searchField {
  height: 100%;
  display: flex;
  font-weight: 500;
  font-size: 1.8rem;
  align-items: center;
  border-radius: 15px;
  padding-left: 4.2rem;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
}

header .container .header__rhs .searchField::placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: #00000046;
}

header .container .header__rhs.show {
  display: flex;
}


@media screen and (min-width: 450px) {
  header.header {
    padding: 15px;
  }

  header .container .header__brand img {
    width: 5rem;
    height: 5rem;
  }

  header .container .header__brand h3 {
    font-size: 3.3rem;
  }

  header .container .menu__container {
    top: 8px;
  }

  header .container .menu__container i {
    font-size: 3.6rem;
  }

  header .container .header__rhs {
    height: 6rem;
  }

  header .container .header__rhs i {
    left: 15px;
    font-size: 2.5rem;
  }

  header .container .header__rhs .searchField {
    font-size: 2rem;
    padding-left: 4.8rem;
  }

  header .container .header__rhs .searchField::placeholder {
    font-size: 2rem;
  }
}


/* FIRST BREAKPOINT */
@media screen and (min-width: 660px) {
  header.header {
    padding: 15px !important;
  }

  header .container {
    max-width: 1200px;
    align-items: center;
    flex-direction: row;
  }

  header .container .header__brand img {
    width: 4.8rem;
    height: 4.8rem;
  }

  header .container .header__brand h3 {
    font-size: 3rem;
  }

  header .container .menu__container {
    display: none;
  }

  header .container .header__rhs {
    margin: 0;
    height: 4rem;
    display: flex;
    flex-basis: 50%;
    max-width: 550px;
  }

  header .container .header__rhs i {
    font-size: 2rem;
  }

  header .container .header__rhs .searchField {
    font-size: 2rem;
    padding-top: 5px;
    font-weight: 500;
    padding-left: 4rem;
    padding-bottom: 8px;
    justify-content: flex-start;
  }

  header .container .header__rhs .searchField::placeholder {
    font-size: 2rem;
    font-weight: 400;
  }
}
/* H E A D E R   S E C T I O N */



/* L I S T  S E C T I O N */
#list_section {
  left: 0;
  right: 0;
  top: 6.5rem;
  margin: 0 auto;
  max-width: 850px;
  position: absolute;
  padding: 4rem 1.5rem 1rem 1.5rem;
}

#list_section h2.title {
  margin-left: 6px;
  font-weight: 600;
  color: #fdfdfd;
  font-size: 2.8rem;
  font-style: italic;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: 'Philosopher', sans-serif;
}

#list_section ul li {
  width: 100%;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 25px;
  background-color: #f3f3f3;
  box-shadow: 0 5px 5px #00000079;
}

#list_section ul li img {
  width: 6rem;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #0f7ad1;
}

#list_section ul li section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list_section li section div {
  width: 90%;
  display: flex;
  line-height: 20px;
  flex-direction: column;
  justify-content: center;
}

#list_section li section div h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

#list_section li section div p {
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
  color: #cc3b3bf6;
}

#list_section li section a {
  color: #141B33;
  font-size: 3.5rem;
  transition: color .2s ease-in-out;
}

#list_section li section a:hover {
  color: #cc3b3bf6;
}



@media screen and (min-width: 550px) {
  #list_section h2.title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  #list_section ul li {
    width: 100%;
    padding: 10px;
  }

  #list_section ul li img {
    width: 7rem;
  }

  #list_section li section div h4 {
    font-size: 2.3rem;
    margin-bottom: 8px;
  }

  #list_section li section div p {
    font-size: 1.8rem;
  }

  #list_section li section a {
    font-size: 4.5rem;
  }
}


@media screen and (min-width: 950px) {
  #list_section h2.title {
    font-size: 3.5rem;
  }

  #list_section ul li {
    min-height: 13vh;
    margin-bottom: 4rem;
  }

  #list_section ul li img {
    width: 7rem;
  }

  #list_section li section div h4 {
    font-size: 2.3rem;
    margin-bottom: 8px;
  }

  #list_section li section div p {
    font-size: 1.8rem;
  }

  #list_section li section a {
    font-size: 4.5rem;
  }
}
 /* L I S T  S E C T I O N */



/* H E R O  S E C T I O N */
#hero_section {
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: #000000e0;
  background-position: 50% center;
  background-blend-mode: saturation;
  background-image: url("./Assets/Images/sam-moqadam-CwCXGST3a7Q-unsplash.jpg");
}

#hero_section h1.text-center {
  font-weight: 900;
  color: #fdfdfd;
  font-size: 2.5rem;
  line-height: 4.3rem;
  font-family: 'Philosopher', sans-serif;
}

#hero_section .buttons {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: .5rem;
  align-items: center;
  justify-content: center;
  mix-blend-mode: color-dodge;
}

#hero_section .buttons > a {
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: all .3s ease-in-out;
}

#hero_section .buttons > a:first-child {
  margin-right: 1rem;
}

#hero_section .buttons > a:hover {
  background-color: #eed3d3;
}



@media screen and (min-width: 350px) {
  #hero_section h1.text-center {
    font-size: 3.5rem;
    line-height: 5.5rem;
  }

  #hero_section .buttons {
    margin-top: .5rem;
  }

  #hero_section .buttons > a {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}


@media screen and (min-width: 560px) {
  #hero_section h1.text-center {
    font-size: 4rem;
    line-height: 6rem;
  }

  #hero_section .buttons {
    margin-top: .7rem;
  }

  #hero_section .buttons > a {
    font-size: 2rem;
    border-radius: 50px;
    padding: 1rem 2.5rem;
  }
}


@media screen and (min-width: 900px) {
  #hero_section h1.text-center {
    font-size: 4.5rem;
    line-height: 7rem;
  }

  #hero_section .buttons {
    margin-top: .7rem;
  }
}
/* H E R O  S E C T I O N */



/* L O A D E R  S E C T I O N */
.loader {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85vh;
  display: flex;
  max-width: 100vw;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.loader h3 {
  font-size: 3rem;
  color: #fdfdfd;
  margin-right: 2rem;
}

.loader img {
  width: 100%;
  max-width: 60px;
}


@media screen and (min-width: 560px) {
  .loader h3 {
    font-size: 3.5rem;
  }

  .loader img {
    width: 100%;
    max-width: 70px;
  }
}


@media screen and (min-width: 900px) {
  .loader h3 {
    font-size: 4rem;
  }
}


@media screen and (min-width: 900px) {
  .loader img {
    max-width: 80px;
  }
}
/* L O A D E R  S E C T I O N */



/* E R R O R  S E C T I O N */
#error_text {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 100vw;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#error_text h2 {
  color: #fdfdfd;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

#error_text p {
  font-size: 1.5rem;
  color: #fdfdfd;
  font-weight: 600;
  letter-spacing: 1px;
}


@media screen and (min-width: 768px) {
  #error_text h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  #error_text p {
    font-size: 1.9rem;
  }
}


@media screen and (min-width: 992px) {
  #error_text h2 {
    font-size: 3.2rem;
    line-height: 5rem;
  }
  
  #error_text p {
    font-size: 2rem;
  }
}
/* E R R O R  S E C T I O N */



.fetchError_text {
  color: #fff;
  margin-top: 50%;
  text-align: center;
}